.header {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #bdf7c5;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width: 100%;
}

.burger {
	display: none;
}

@media (max-width: 767px) {
	.burger {
		display: block;
	}
}
