@use 'variables' as *;
@use './scss-presets/mixsins' as *;

html {
	scroll-behavior: smooth;
}

body {
	//Максимальтний та мінімальний розмір шрифта в макеті основного шрифта
	@include fluid-text(25, 18);

	font-family: var(--main-font), sans-serif;
	color: var(--main-font-color);
	font-weight: 400;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
	max-width: var(--container-width);
	padding: var(--container-padding-x);
	margin: 0 auto;
	flex-grow: 1;
}
.footer {
	margin-top: auto;
}
