.header {
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: #bdf7c5;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100%;
}

.burger {
	display: flex-inline;
	text-align: right;
	// display: none;
}
